{% block stylesheet %}
		<link rel="stylesheet" href="/css/style_exp1.css">
		{% endblock %}
{% block main %}

	<h2 class="fond shadow mt-1 col-md-4  col-12  ">Technicien Géomètre/ Topographe</h2>
	<section class="sec2 row col-lg-4 col-md-4  col-12 fond offset-lg-7 offset-md-7 mb-2  shadow  ">
		<article class=" E1art1 ">

			<h3>Formation 2003 :</h3>
			<ul>
				<li>Reconvertion professionnelle</li>
				<li>Lycée du Nivolet ( Chambery)</li>
				<li>CAP/BEP Topographe/géomètre</li>
			</ul>
		</article>
	</section>

	<section class=" row ">
	<div class="col-3 mx-lg-2 mx-md-2 mx-sm-2 ">
			<img src="images/tourcma.jpg" class ="img-fluid shadow p-3 mb-5 bg-body rounded">
	</div>
		<div class="exp1 row col-lg-7 col-md-7 col-12 shadow ">
			<article class=" art2 col-lg-7 col-md-10">
				<h3>Experience professionnelle CEMAP Grenoble</h3>
				<h4>2003 à 2009:</h4>
				<ul>
					<li>Génie civil</li>
					<li>VRD voirie, réseaux</li>
					<li>Implantation et récolement</li>
					<li>Bornage</li>
					<li>Application de réseaux</li>
					<li>Application parcellaire</li>
					<li>Plan d’intérieur, de façade, topographique...</li>
				</ul>
			</article>
			<article  class="art3 offset-1 col-4">
				<h3>Réalisation des plans EXE et DOE</h3>
				<ul>
					<li>Autocad (jusqu’a version 2016)</li>
					<li>Covadis</li>
					<li>Mensura</li>
				</ul>
			</article>
			<article  class="art4 offset-1 col-4 m-4">
				<h3>Déplacements :</h3>
				<ul>
					<li>Tour CMA-CGM (Marseille)</li>
					<li>Incinérateur Veolia (Fos/mer)</li>
				</ul>
			</article>
			<article class="art5 col-4 offset-1 m-4">
				<h3>Gestion :</h3>
				<ul>
					<li>chef de brigade</li>
					<li>Corrélation des plannings quotidien avec les différents corps de métiers
					</li>
				</ul>
			</article>

		</div>

	</section>


{% endblock %}
