{% block stylesheet %}
	<link rel="stylesheet" href="/css/style_exp2.css">
{% endblock %}
{% block main %}

	<h2 class="shadow ">Petite enfance: Création d’une Maison d’Assistante Maternelle</h2>
	<section class=" row  ">
		<div class="col-lg-4 col-md-4 col-12 text-center">
			<img src="images/mam-removebg-preview.png " class="img-fluid col-7 shadow p-3 mb-5 bg-body rounded">
		</div>

		<article class="mx-auto E2art1  col-lg-6 col-md-6 col-12 shadow ">
			<h3>2015 à 2020 :« MAM comme trois pommes »(Marseille)</h3>
			<ul>
				<li>
					<em>Co-fondatrice de l'association :</em>
					Écriture du projet, investissement financier, logistique (mise en corrélation des entrepreneurs ,architectes et administrations ).</li>
				<br>
				<li>
					<em>Gestionnaire :</em>
					Organisation de fournisseur, comptabilité, mise en place de plannings (achats,ménage...), planning de vie (sorties, repas, sommeil, regroupement).
				</li>
				<li>
					<em>Gestion des contrats:</em>
					feuilles de présences, salaires, plannings quotidiens</li>
				<br>
				<li>
					<em>Accueil des enfants et de leurs familles:</em>
					Prise en charge des soins des enfants aux quotidien. Éveil par l'observation, le partage et la communication. Travail pédagogique sur une thématique mensuelle suivant un schéma: découverte d'une œuvre, proposition d'un atelier sensoriel pouvant être réutilisée (images, jeux de construction, jeux sensoriels …) , art , chants, éveil musicale, éveil corporel.</li>
				<br>
				<li>
					<em>Soutien à la parentalité</em>
				</li>
			</ul>
		</article>
		<article class="mx-auto E2art2 offset-1 col-6 mt-4 shadow ">
			<ul>
				<h3>Formations 2015 : Reconvertion professionnelle</h3>

				<li>CAP Petite Enfance Candidat Libre (Marseille)</li>
				<li>Formation Assistante Maternelle</li>
			</ul>
			<p>
				<strong>
					2015 à 2020 :Formation continue
				</strong>
			</p>
			<ul>
				<li>PS1</li>
				<li>
					Initiation aux pédagogies Montessori/Pikler-Loczy
				</li>
				<li>
					Formation communication gestuelle</li>
				<li>
					L'enfant de 0 à 1 ans</li>
				<li>Gestion des situations difficiles</li>
			</ul>

		</article>
	</section>


{% endblock %}
