{% block stylesheet %}
	<link rel="stylesheet" href="/css/style_exp3.css">
{% endblock %}
{% block main %}
	<h2>
		Ecole Ri7</h2>

	<section class="row">
		<div class="col-12 text-center  col-md-4 col-lg-4">
			<img src="images/ri7.png " class="img-fluid  shadow p-3 mb-5 bg-body rounded">
		</div>

		<article class=" E3art1 offset-md-1 offset-lg-1 col-lg-6 col-md-6 col-12 shadow ">

			<h3>Avril 2022 : Etudiante école Ri7 (Aubagne)
			</h3>
			<ul>
				<li>
					HTML 5</li>
				<li>
					CSS 3
				</li>
				<li>
					PHP 7</li>
				<li>
					JavaScript
				</li>
			</ul>
			<ul>
				<li>
					Larp</li>
				<li>
					TypeScript</li>
				<li>
					NodeJS</li>
			</ul>
			<ul>
				<li>
					Mongo DB</li>
				<li>
					Laragon</li>
			</ul>
			<ul>
				<li>
					Github</li>
				<li>
					Figma</li>
				<li>
					WordPress</li>
			</ul>
		</article>


	</section>

{% endblock %}
