{% block stylesheet %}
	<link rel="stylesheet" href="/css/style_exp3.css">
{% endblock %}
{% block main %}
<h2> Dessinateur Projeteur Fibre Optique</h2>

<section class="row">
 <div class="col-lg-4 col-md-4 col-12">
		 <img src="images/fiber4.jpg " class ="img-fluid shadow p-3 mb-5 bg-body rounded" >
	</div>
	
		<article class=" E3art1 col-lg-6 col-md-6 col-12 shadow ">

<h3> 2021 : Dessinateur B.E « CPCP » (Aix en Provence)Cellule DOE</h3>
<ul>
<li> Développement réseau fibre optique pour Orange</li>
<li> Contrôle, modifications et validation des retours terrain </li>
<li> Traitement des dossiers AVP, NSI (dossiers avec problématiques)</li>
</ul>
<h3> 2011-2013 : Dessinateur projeteur B.E CPCP (Toulon)</h3>
<ul>
<li> Développement réseau fibre optique pour FREE</li>
<li> Recherche de panne avec les sous-traitants terrain</li>
<li> Etude de projets, reprise de plaques (APD, DOE)</li>
<li> Réalisation de CA et DFT</li>
</ul>
<h3>  2009-2011 : Dessinatrice B.E Sogetrel (Marseille)</h3>
<ul>
<li> FTTH pour SFR : création VTL, Adductions</li>
<li> Recherche de panne avec les sous-traitants terrain</li>
<li> Etude de projets, reprise de plaques (APD, DOE)</li>
<li> Réalisation de CA et DFT</li>
</ul>
</article>
<article class=" E3art2 mx-auto col-6 mt-4 shadow ">
<h3> Formation spécifique:</h3>
<ul>
<h4>  Orange:</h4>
<li>  Metagate: IPON, GEOFIBRE, GEORESO, GESTOTTH, Optimum et FiberNow</li>
<h4> SFR</h4>
<li> Network</li>
<h4> FREE</h4>
<li> Autocad 2016</li>
</ul>
</article>
</section>

        {% endblock %}