
{% extends "/main.twig" %}


{% block main %}
	


<section class="row full-height" >

<article class="offset-2 col-4 mt-4">
<h2 class="text-center ">Cécile Colo</h2>
<div class="pres text-center ">

<p class="cita"> “La vie ce n’est pas d’attendre que les orages passent,<br>
 c’est d’apprendre à danser sous la pluie." <br>
                               <span class="fw-bold">Sénèque</span> </p>

<p> La vie étant faite d’imprévus et de rebondissements. <p>
<p>J’ai eu la chance d’exercer des métiers passionnants qui m’ont apporté une richesse professionnelle.</p>
<p> J’ai fais autant de formation que nécessaire afin d’avoir la certitude que ce que j’entreprenais 
été le bon chemin et ainsi avoir des bases solides qui m’apporteraient confiance et autonomie.  
Cette diversité m’aura apprise à valoriser le travail d’équipe, à savoir anticiper et faire preuve de bon sens.
 Ma curiosité infini me pousse à aller toujours plus loin.
C’est pour cette raison qu’aujourd’hui j’ai la certitude que les métiers de développeur web sont faits pour moi:
ils lient savoirs, passions, challenges et travail d’équipe !</p>
<img src="/images/signature.png" class="offset-6 mt-4 mb-4">
</div>
</article>
<article class="offset-1 col-4 ">
<div>
<img class="imag1 col-12" src="/images/moi.jpg"/>
</div>
</article>
</section>
<div>
<a href="https://www.linkedin.com/in/cecile-colo-4bb026104/"><img src="images\Linkedin-256.PNG" class="offset-3 " style="width:5%; height:5%"></a>
				<a href="https://github.com/cess88"><img src="images\GITHUB.png" class="offset-1" style="width:5%; height:5%"></a>
</div>

{% endblock %}

