.E2art1{
    background-color: rgb(229, 198, 19);
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
   
}

.E2art2
{
    background-color: rgb(229, 198, 19);
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    
   
}